<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://sacbaddy-25y2.vercel.app/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sakshi Shah | Hero Section">
    <meta property="og:description" content="Professional full-stack developer creating modern and responsive websites.">
    <link rel="canonical" href="https://sacbaddy-25y2.vercel.app/">
    <title>Nairo</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/hero.css">

</head>
<body>
    <section class="hero" id="home">
        <div class="container">
            <div class="htop">
                <div class="contact">+91 98765 43210</div>
                <div class="email">sakshi_shah@domain.com</div>
                <div class="leguagr">
                    <a class="active" href="#">EN</a>
                    <a href="#">FR</a>
                </div>
            </div>
            <h5>Hello, My name is</h5>
            <h1>Sakshi Shah</h1>
            <ul>
                <li>Web Developer</li>
                <li>Freelancer</li>
            </ul>
            <p>I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores.</p>
            <input type="button" value="Download CV" class="btn">
            <img src="../src/home-banner.png" alt="Hero Image" class="hero-image">
        </div>
    </section>
</body>
</html>